.App{
  width: 1320px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  column-gap: 50px;
  padding: 50px;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 320px;
  background: #f5e7d3;
  border-radius: 12px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}

.badge {
  position: absolute;
  top: 0;
  right: 50px;
  width: 50px;
  height: 80px;
  background: #ff5a4f;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
}

.image-box {
  padding: 20px;
  text-align: center;
}

.image-box img {
  width: 250px;
  border: 2px solid black;
  border-radius: 10px;
}

.content {
  padding: 0 20px 20px 20px;
}

.content h2 {
  margin: 10px 0;
  color: #5c1a10;
}

.content p {
  font-size: 14px;
  color: #6b4b3e;
}

.price-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.price-rating h1 {
  color: #7a140e;
  margin: 0;
}

.rating span {
  color: #7a140e;
}

.rating p {
  font-size: 12px;
  margin: 2px 0 0 0;
}

.button {
  width: 100%;
  padding: 15px;
  background: #f47160;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}


.button:hover {
  background: #e35a48;
}
